@font-face{
    font-family: IRANSans;
    src: url(./fonts/Sans\ a4fran3.eot);
    src: url(./fonts/Sans\ a4fran3.ttf) format("ttf"),
         url(./fonts/Sans\ a4fran3.woff) format("woff");
}
body{
    font-family: 'IRANSans','Courier New', Courier, monospace;
    direction: rtl;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header div{
    width: 100vw;
    height: 3vh;
    background-color: #459224;
   
}
.navbar{
    background-color: white;
    width: 100vw;
    height: 9vh;
  
}
.navbar ul span:first-child{
    margin: 30px 0px;
    
    
}
.navbar ul{
    margin: 1.5% 10%;
}

.navbar ul li{
    float: right;
    list-style: none;
    text-align: center;
    margin: 5px 30px;
  
}
.navbar ul li a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    display: block;
    position: relative;
    right:80px
}
.navbar ul li a:hover{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.651);
    width: 90px;
    height: 30px;
    background-color:#3f8a1f7a ;
    border:1px solid;
    border-radius: 100px;
    box-sizing: border-box;
    padding:3px;
}
.navbar span a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
    font-size: 12px;
    float: left;
    margin: 5px 90px;
    width: 130px;
    height: 30px;
    background-color:#459224ea ;
    border-radius: 100px;
    box-sizing: border-box;
    padding:5px 30px;
    overflow:hidden;
    box-shadow: 1px 3px 3px -1px  #535050a2 ;
}
.navbar ul li i{
    color:#3f8a1f7a ;
}

#logo{
    margin: -12px -9px;
}
#logo span{
    position: relative;
    bottom: 5px;
    color: rgba(141, 138, 138, 0.973);
    font-weight: bold;
}
#horizontal{
    color: rgb(216, 214, 214);
    width: 100vw;
    border-top: 1.5px solid;
    box-shadow: 0px 0px 2px 0 #cac7c7a2;
    
}
section{
    height: 42vh;
    width: 100vw;
    margin:auto;
    padding: auto;
}
section h1{
    text-align: center;
    color: rgb(92, 89, 89);
}
section div{
    width: 120px;
    height:120px;
    border-radius: 100px;
    background-color: #f1c40f;
    display:inline-block;
    margin:2% 12%;
            
}
section div img{
    width: 50px;
    height: 50px;
    margin:30% 30%;
}
section div a{
    text-decoration: none;
    color:gray;
    font-size: 12px;
    text-align: center;
    margin:2% 16%;
    display:inline;
}
footer{
    width: 100vw;
    height: 42vh;
    background-color: #c6cdcf46;
    margin: auto;
    padding: 0 15% 0 0;
}
footer a{
    width: 15%;
    height: 48%;
    background-color: white;
    border: 1px solid;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 1px  #c5c2c2a2;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    color: rgba(180, 177, 177, 0.514);
    margin: 3.9% 3% ;
    padding: 20px 70px 0 0 ;
    
}
footer h2{
    text-align: center;
    color: #459224;
    padding:1% 0 0 15%;
}
footer a div img{
    width: 40px;
    height: 40px;
}
footer span{
    color: #459224;
    text-align:center;
    padding:5% 5% ;
   
}
.store{
    position: relative;
    right: -25px;
}
footer a:hover{
    border-bottom: 10px solid #459224;
}


